.stock_page_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 45px);
  background-color: rgb(37, 37, 37);
  overflow-y: scroll;
}

.top_section {
  display: flex;
}

.top_left_section {
  padding: 32px;
  padding-top: 16px;
  width: 65%;

  & > .stock_name {
    color: rgb(198, 198, 198);
    font-size: 24px;
  }

  & > .stock_chart_container {
    width: 100%;
    border: 2px solid grey;
  }
}

.top_right_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;

  & > .symbol {
    font-size: 30px;
    color: rgb(198, 198, 198);
    margin-bottom: 0;
  }

  & > .price {
    font-size: 36px;
    color: #48bf84;
    margin-bottom: 16px;
  }
}

.add_to_watchlist_button {
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 16px;
}

.remove_from_watchlist_button {
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 16px;
}

.add_to_order_modal_button {
  padding: 8px;
  border-radius: 5px;
}

.bottom_section {
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.bottom_section_row {
  display: flex;
  align-items: center;
  color: rgb(198, 198, 198);
  padding: 16px;
  font-size: 18px;

  & > li {
    list-style-type: none;
    width: calc(100% / 4);
  }
}
