.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  border: none;
  background-color: rgb(37, 37, 37);

  & > .title {
    color: white;
  }

  & input {
    margin: 5px;
    border: 2px solid white;
    background-color: rgb(227, 239, 255);
    width: 85%;
  }

  & button {
    width: 87%;
    padding: 10px;
    margin-top: 10px;
    color: #00a7e1;
    border: 2px solid #00a7e1;
    border-radius: 4px;
    padding: 4px;
    font-size: 14px;
    background-color: rgb(37, 37, 37);

    &:hover {
      cursor: pointer;
      color: #3dcbfb;
      border: 2px solid #3dcbfb;
      background-color: rgb(55, 55, 55);
    }
  }

  & .demo_user {
    margin: 20px;
    text-decoration: underline;
    cursor: pointer;
    color: rgb(218, 218, 218);

    &:hover {
      color: rgb(89, 127, 159);
    }
  }
}
