.profile_page_container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 45px);
  background-color: rgb(37, 37, 37);
}

.coming_soon {
  margin-top: 100px;
  color: white;
}
