.nav_bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  height: 45px;
  background-color: #252525;
}

.logo,
.nav_element,
.home_text {
  color: #00a7e1;
}

.home_icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;

  & > .logo {
    font-size: 35px;
  }
  & > span {
    font-size: 30px;
  }
}

.nav_links {
  display: flex;
}

.nav_element {
  cursor: pointer;
  margin: 8px;
}

.drop_down_menu {
  position: absolute;
  text-align: right;
  right: 0;
  top: 45px;
  border: 1px solid gray;
  background-color: #252525;
  color: white;

  & > * {
    padding: 10px 10px;
  }
}

.dropdown_profile_button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.logout_button {
  all: unset;
  color: #00a7e1;
  border: 2px solid #00a7e1;
  border-radius: 4px;
  padding: 4px;
  font-size: 14px;

  &:hover {
    cursor: pointer;
    color: #3dcbfb;
    border: 2px solid #3dcbfb;
    background-color: rgb(38, 38, 38);
  }
}

.about_link {
  text-decoration: none;
}
