.nav_bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  height: 45px;
}

.home_icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;

  & > .logo {
    font-size: 35px;
  }
  & > span {
    font-size: 30px;
  }
}

.nav_links {
  display: flex;
}

.nav_element {
  cursor: pointer;
  margin: 8px;
}

.drop_down_menu {
  position: absolute;
  text-align: right;
  right: 0;
  top: 45px;
  border: 1px solid gray;

  & > * {
    padding: 10px 10px;
  }
}

.dropdown_profile_button, .dropdown_logout_button {
  cursor: pointer;
}
